<template>
  <v-container>

    <v-btn fab fixed right :bottom="$vuetify.breakpoint.xsOnly" :left="$vuetify.breakpoint.xsOnly" @click="$vuetify.theme.dark = !$vuetify.theme.dark">
          <v-icon v-if="$vuetify.theme.dark">mdi-lightbulb-on-outline</v-icon>
          <v-icon v-if="! $vuetify.theme.dark">mdi-lightbulb-outline</v-icon>
    </v-btn>

    <CountdownOverlay v-bind:beginTraining="this.beginTraining" @start-training="startTraining" :soundVolume="this.soundEffects.volume"></CountdownOverlay>

    <v-row class="text-center">
      <v-col>

      <v-card class="mb-8">
        <v-card-title class="text-sm-h1 text-h2 text-center justify-center">{{ this.formattedTime(this.currentTimer) }}</v-card-title>

        <p>Temps passé : {{ this.spentTime }}</p>
        <p>Temps restant : {{ this.remainingTime }}</p>

        <p>
          Exercice
          <v-progress-circular
            rotate="-90"
            :size="60"
            :width="5"
            :value="this.currentExerciseNumber / this.userParameters.exercisesPerLoop * 100"
            color="teal"
          >
            {{ this.currentExerciseNumber }} / {{ this.userParameters.exercisesPerLoop }}
          </v-progress-circular>   
        </p>

        <p>
          Tours
          <v-progress-circular
            rotate="-90"
            :size="60"
            :width="5"
            :value="this.currentLoopNumber / this.userParameters.nbLoop * 100"
            color="teal"
          >
            {{ this.currentLoopNumber }} / {{ this.userParameters.nbLoop }}
          </v-progress-circular>
        </p>

        <div class="mb-5">
          
          <!-- Bouton START -->
          <v-tooltip bottom :disabled="userParameters.valid">
            <template v-slot:activator="{ on, attrs }">
            <div v-on="on" class="d-inline-block">

              <v-btn class="ma-2" fab large color="green" @click="startTraining" v-bind="attrs" :disabled="! timePaused || !userParameters.valid">
                <v-icon color="white">mdi-play</v-icon>
              </v-btn>
              
            </div>
            </template>
            <span>Un ou plusieurs paramètres sont invalides</span>
          </v-tooltip>

          <!-- Bouton PAUSE -->
          <v-btn class="ma-2" fab large color="orange" @click="pause" :disabled="this.timePaused">
            <v-icon color="white">mdi-pause</v-icon>
          </v-btn>

          <!-- Bouton RESET -->
          <v-btn class="ma-2" fab @click="reset">
            <v-icon color="">mdi-restart</v-icon>
          </v-btn>

        </div>

        <template>
          <v-progress-linear :value="this.trainingProg * 100"></v-progress-linear>
        </template>

      </v-card>

      <v-spacer></v-spacer>

      <v-card class="pb-5 px-10">
        <v-card-title class="text-h6 text-center justify-center py-8">Paramètres</v-card-title>

        <v-form
          ref="userparameters"
          v-model="userParameters.valid"
        >

          <v-row no-gutters>
            <v-col cols="12" sm="6" class="px-2">
              <v-text-field label="Durée d'un exercice" min="1" prepend-inner-icon="mdi-clock-outline" type="number" v-model.number="userParameters.exerciseDuration" :rules="[() => userParameters.exerciseDuration >= 1 || 'La durée doit être d\'au moins 1 seconde']"></v-text-field>
              <v-text-field label="Repos entre les exercices" min="0" prepend-inner-icon="mdi-clock-outline" type="number" v-model.number="userParameters.pauseDuration" :rules="[() => userParameters.pauseDuration >= 0 || 'La durée doit être positive']"></v-text-field> 
            </v-col>

            <v-divider vertical class="d-none d-sm-flex"></v-divider>

            <v-col cols="12" sm="6" class="px-2">
              <v-text-field label="Tours" type="number" min="1" prepend-inner-icon="mdi-refresh" v-model.number="userParameters.nbLoop" :rules="[() => userParameters.nbLoop >= 1 || 'Le nombre de tours doit être supérieur à 0']"></v-text-field>
              <v-text-field label="Exercices par tour" min="1" prepend-inner-icon="mdi-numeric-0-box-multiple-outline" type="number" v-model.number="userParameters.exercisesPerLoop" :rules="[() => userParameters.exercisesPerLoop >= 1 || 'Le nombre d\'exercices doit être supérieur à 0']"></v-text-field>
              <v-text-field label="Repos entre les tours" min="0" prepend-inner-icon="mdi-clock-outline" type="number" v-model.number="userParameters.pauseBetweenLoop" :rules="[() => userParameters.pauseBetweenLoop >= 0 || 'La durée doit être positive']"></v-text-field>
            </v-col>
          </v-row>

        </v-form>

      </v-card>

      </v-col>
    </v-row>

    <Parameters
      :userParameters="this.userParameters" @edit-user-param="this.setUserParameters"
      @sound-volume="this.setSoundEffectsVolume"
    >
    </Parameters>

  </v-container>  
</template>

<style scoped>
  .v-card__title.text-h2 {
    font-size: 4rem;
  }
</style>

<script>
  import CountdownOverlay from './CountdownOverlay.vue';
  import Parameters from './Parameters.vue';

  export default {
    name: 'Chronometer',

    components: {
      CountdownOverlay,
      Parameters,
    },

    data: () => ({
      timer: undefined,    // Handler du setInterval
      currentTimer: 0,     // Affichage du temps principal actuel
      elapsedTime: 0,      // Temps total écoulé en millisecondes
      timePaused: true,    // Séance mise en pause
      beginTraining: true, // Débbut de l'entrainement
      trainingEnd: false,  // Fin de l'entrainement

      currentExerciseNumber: 1, // Numéro de l'exercice actuel dans la boucle
      currentLoopNumber: 1,     // Numéro de la boucle actuelle
      exercicePause: false,     // Pause inter-exercice
      loopPause: false,         // Pause inter-boucle

      // Paramètres utilisateur
      userParameters: {
        exerciseDuration: 30, // Durée d'un exercice
        pauseDuration: 15,    // Durée de la pause entre 2 exercices
        nbLoop: 3,            // Nombre de tours
        pauseBetweenLoop: 30, // Durée de la pause entre 2 tours
        exercisesPerLoop: 3,  // Nombre d'exercices par tour

        valid: true,
      },

      // Effets sonores
      soundEffects: {
        beep: undefined,
        countdown: undefined,

        volume: 1,
      }
    }),
    
    methods: {

      // Démarrer la séance (point de vue utilisateur)
      startTraining() {

        // Début d'entrainement, on affiche l'overlay de départ
        if (this.beginTraining) {
          this.beginTraining = false;
        } else {
          this.start();
        }
      },

      // Démarrer séance (point de vue programme)
      start() {

        if (this.trainingEnd) {
          this.reset();
        }

        this.timePaused = false;

        this.timer = setInterval(() => {
          this.currentTimer -= 1000;
          this.elapsedTime += 1000;
          
          // (this.loopPause || this.exercicePause) -> C'est la pause de l'exercice ou de la boucle
          if (this.currentTimer == 3000 && (this.loopPause || this.exercicePause)) {
            this.soundEffects.countdown.pause();
            this.soundEffects.countdown.play();
          }

          if (this.currentTimer == 2000 && (this.loopPause || this.exercicePause)) {
            this.soundEffects.countdown.pause();
            this.soundEffects.countdown.currentTime = 0;

            this.soundEffects.countdown.play();
          }

          if (this.currentTimer == 1000 && (this.loopPause || this.exercicePause)) {
            this.soundEffects.countdown.pause();
            this.soundEffects.countdown.currentTime = 0;

            this.soundEffects.countdown.play();
          }

          // Si temps affiché = 0, on passe à l'exercice, boucle ou pause suivante
          if (this.currentTimer == 0 ) {
            this.playBeepSound();

            // Dernier exercice d'une boucle
            if (this.currentExerciseNumber == this.userParameters.exercisesPerLoop) {

              // Dernière boucle
              if (this.currentLoopNumber == this.userParameters.nbLoop) {
                // FIN
                this.pause();
                this.trainingEnd = true;

              // Pas la dernière boucle
              } else {

                // Pas la pause d'entre-boucle
                if (! this.loopPause) {

                  // Pas de pause inter-bouce
                  if (this.userParameters.pauseBetweenLoop === 0) {

                    // Lancer la boucle suivante
                    this.loopPause = false;
                    this.currentLoopNumber++;
                    this.currentExerciseNumber = 1;
                    this.currentTimer = this.userParameters.exerciseDuration * 1000;

                  // Pause inter-boucle
                  } else {
                    // Lancer la pause inter-boucle
                    this.loopPause = true;
                    this.currentTimer = this.userParameters.pauseBetweenLoop * 1000;
                  }

                // C'est la pause inter-boucle
                } else {

                  // Lancer la boucle suivante
                  this.loopPause = false;
                  this.currentLoopNumber++;
                  this.currentExerciseNumber = 1;
                  this.currentTimer = this.userParameters.exerciseDuration * 1000;
                }
              }

            // Pas le dernier exercice d'une boucle
            } else {

              // Pas la pause inter-exercice (donc fin exercice)
              if (! this.exercicePause) {

                // Pas de pause inter-exercice
                if (this.userParameters.pauseDuration === 0) {
                  // Lancer exercice suivant
                  this.exercicePause = false;
                  this.currentExerciseNumber++;
                  this.currentTimer = this.userParameters.exerciseDuration * 1000;

                // Il y a une pause inter-exercice
                } else {
                // Lancer la pause inter-exercices
                  this.exercicePause = true;
                  this.currentTimer = this.userParameters.pauseDuration * 1000;
                }

              // C'est la pause inter-exercice
              } else {
                // Lancer exercice suivant
                this.exercicePause = false;
                this.currentExerciseNumber++;
                this.currentTimer = this.userParameters.exerciseDuration * 1000;
              }

            }

          }
        }, 1000);
      },

      // Metttre en pause
      pause() {
        clearInterval(this.timer);
        this.timePaused = true;
      },

      // Reset la séance
      reset() {
        clearInterval(this.timer);
        this.currentTimer = this.userParameters.exerciseDuration * 1000;
        this.elapsedTime = 0;
        this.timePaused = true;
        this.trainingEnd = false;
        this.beginTraining = true;
        this.currentExerciseNumber = 1;
        this.currentLoopNumber = 1;
      },

      // Formatte le temps time, donné en millisecondes, destiné à l'affichage
      formattedTime(time) {
        const date = new Date(null);
        date.setSeconds(time / 1000);
        const utc = date.toUTCString();
        return utc.substr(utc.indexOf(":") - 2, 8);
      },

      // Son "Bip" (fin d'exercice ou pause)
      playBeepSound() {
        this.soundEffects.beep.play();
      },

      setUserParameters(userParameters) {
        this.userParameters = userParameters;
      },

      setSoundEffectsVolume(volume) {
        this.soundEffects.volume = volume;
        
        this.soundEffects.beep.volume = volume;
        this.soundEffects.countdown.volume = volume;
      },
    },

    computed: {
      // Temps total de la séance : Durée exercices + pauses (en secondes)
      totalTime() {
        
        // Temps que prend une boucle
        let oneLoopTime =
                this.userParameters.exercisesPerLoop * this.userParameters.exerciseDuration
                + (this.userParameters.exercisesPerLoop - 1) * this.userParameters.pauseDuration
                + this.userParameters.pauseBetweenLoop;

        const total = oneLoopTime * this.userParameters.nbLoop - this.userParameters.pauseBetweenLoop;

        return total;
      },

      // Temps total restant sur la séance
      remainingTime() {
        return this.formattedTime(this.totalTime * 1000 - this.elapsedTime);
      },

      // Temps écoulé depuis le début de la séance
      spentTime() {
        return this.formattedTime(this.elapsedTime);
      },

      // Retourne l'avancée de la session en pourcentage
      trainingProg() {
        if (this.trainingEnd) { return 1; }

        const currentProg = this.currentExerciseNumber - 1 + this.userParameters.exercisesPerLoop * (this.currentLoopNumber - 1);
        const total = (this.userParameters.exercisesPerLoop) * (this.userParameters.nbLoop);

        return currentProg / total;
      }
    },

    watch: {
      userParameters: {
        handler: function() {
          this.currentTimer = this.userParameters.exerciseDuration * 1000;
        },
        deep: true,
      },
            
    },

    created() {
      this.currentTimer = this.userParameters.exerciseDuration * 1000;
      
      this.soundEffects.beep = new Audio(require("@/assets/sounds/beep.mp3"));
      this.soundEffects.countdown = new Audio(require("@/assets/sounds/beep-01.mp3"));
    },
  }
</script>
