<template>
  <v-overlay :value="this.displayOverlay">
    <div>
      <p class="font-weight-black">{{ this.countdown }}</p>
    </div>
  </v-overlay>
</template>

<style scoped>
  p {
    font-size: 10rem;
  }
</style>

<script>
  export default {
    name: 'CountdownOverlay',

    data: () => ({
      countdown: 3,
      countdownTimer: undefined,
      countdownSound: undefined,
      displayOverlay: false,
    }),

    props: {
      beginTraining: Boolean,
      soundVolume: Number,
    },

    watch: {
      beginTraining: function(newVal, oldVal) {
        
        // Début nouvel entrainement -> affichage overlay + compte à rebour
        if (oldVal && ! newVal) {
          this.displayOverlay = true;

          this.countdownSound.play();

          this.countdownTimer = setInterval(() => {
            this.countdown--;

            if (this.countdown == 0) {
              clearInterval(this.countdownTimer);
              this.displayOverlay = false;
              this.countdown = 3;
              this.$emit('start-training');
            }
          }, 1000);
        }
      },

      soundVolume: function(newVal) {
        this.countdownSound.volume = newVal;
      }
    },

    created() {
      this.countdownSound = new Audio(require("@/assets/sounds/start-countdown.wav"));
    }
  }
</script>
