<template>

  <v-container>

    <!-- Paramètres -->
    <v-speed-dial fixed bottom right direction="top">
      <template v-slot:activator>
        <v-btn fab>
          <v-icon>mdi-cog</v-icon>
        </v-btn>
      </template>

      <v-tooltip left>
        <template v-slot:activator="{ on, attrs }">
        <v-btn fab dark small color="purple darken-1" v-bind="attrs" v-on="on" @click="isVolumeDialogOpen = true">
          <v-icon>mdi-volume-high</v-icon>
        </v-btn>
        </template>
        <span>Volume</span>
      </v-tooltip>

      <v-tooltip left>
        <template v-slot:activator="{ on, attrs }">
        <v-btn fab dark small color="green darken-1" v-bind="attrs" v-on="on" @click="isPresetsDialogOpen = true">
          <v-icon>mdi-file-table-box-multiple-outline</v-icon>
        </v-btn>
        </template>
        <span>Presets</span>
      </v-tooltip>

      <v-tooltip left>
        <template v-slot:activator="{ on, attrs }">
        <v-btn fab dark small color="indigo darken-1" v-bind="attrs" v-on="on" @click="saveUserConfig">
          <v-icon>mdi-content-save-outline</v-icon>
        </v-btn>
        </template>
        <span>Sauvegarder la config. actuelle</span>
      </v-tooltip>

      <v-tooltip left>
        <template v-slot:activator="{ on, attrs }">
        <v-btn fab dark small color="indigo darken-1" v-bind="attrs" v-on="on" @click="loadUserParameters">
          <v-icon>mdi-download</v-icon>
        </v-btn>
        </template>
        <span>Charger la config.</span>
      </v-tooltip>

    </v-speed-dial>

    <!-- Pré-configurations -->
    <v-dialog v-model="isPresetsDialogOpen" width="500">      
      <v-card>
        <v-card-title class="text-h5">
          <span>Pré-configurations</span>
          <v-spacer></v-spacer>
          <v-btn icon color="grey lighten-1" @click="isPresetsDialogOpen = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>

        <v-card-text>
          <v-chip class="ma-2" @click="setPreset(presets.tabata)">TABATA</v-chip>
        </v-card-text>

      </v-card>
    </v-dialog>

    <!-- Volume -->    
    <v-dialog v-model="isVolumeDialogOpen" width="500">      
      <v-card>

        <v-card-title class="text-h5">
          <span>Volume des alertes</span>
          <v-spacer></v-spacer>
          <v-btn icon color="grey lighten-1" @click="isVolumeDialogOpen = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>

        <v-card-text class="px-5 mt-8">
          <v-slider min="0" max="100" :prepend-icon="this.volumeSliderIcon" thumb-label="always" v-model="soundVolume" @change="changeVolume"></v-slider>
        </v-card-text>

      </v-card>
    </v-dialog>    

  </v-container>
    
</template>

<script>
  export default {
    name: 'CountdownOverlay',

    data: () => ({
      isPresetsDialogOpen: false,
      isVolumeDialogOpen: false,
      
      soundVolume: 100,

      presets: {
        tabata: {
          exerciseDuration: 20, // Durée d'un exercice
          pauseDuration: 10,    // Durée de la pause entre 2 exercices
          nbLoop: 4,            // Nombre de tours
          pauseBetweenLoop: 10, // Durée de la pause entre 2 tours
          exercisesPerLoop: 2,  // Nombre d'exercices par tour
        },
      },
    }),

    props: {
      userParameters: undefined,
    },

    methods: {
      // Paramètre utilisateur
      //
      saveUserConfig() {        
        localStorage.userParameters = JSON.stringify(this.userParameters);
      },

      setUserParameters(userParameters) {
        this.$emit('edit-user-param', userParameters);
      },

      loadUserParameters() {
        if (localStorage.userParameters) {
          const userParameters = JSON.parse(localStorage.userParameters);
          this.setUserParameters(userParameters);
        }
      },
      //
      //////////////////////

      // Configs de base
      //
      setPreset(preset) {
        this.setUserParameters(preset);
        this.isPresetsDialogOpen = false;
      },
      //
      //////////////////////

      // Volume
      //
      changeVolume(volume) {
        this.$emit('sound-volume', volume/100);
        localStorage.volume = volume;
      },

      loadVolume() {
        if (localStorage.volume) {
          this.soundVolume = localStorage.volume;
        }

        this.$emit('sound-volume', this.soundVolume/100);
      }
      //
      //////////////////////
    },

    computed: {
      volumeSliderIcon: function() {
        if (typeof this.soundVolume !== 'undefined') {
          if (this.soundVolume > 50) return 'mdi-volume-high';
          else if (this.soundVolume <= 50 && this.soundVolume > 0) return 'mdi-volume-medium';
          else return 'mdi-volume-off';
        }

         return 'mdi-volume-high';
      }
    },

    watch: {
    },

    created() {
      this.loadUserParameters();
      this.loadVolume();
    },

    mounted() {
    }
  }
</script>
