<template>
  <v-app>
    <v-app-bar
      app
      color="primary"
      dark
    >
      <div class="d-flex align-center">
        <v-img
          alt="ChronExo Logo"
          class="shrink mr-2"
          contain
          src="@/assets/chronometer.png"
          transition="scale-transition"
          width="40"
        />
        ChronExo
        
      </div>
    </v-app-bar>

    <v-main>
      <Chronometer/>
    </v-main>
  </v-app>
</template>

<script>
import Chronometer from './components/Chronometer';

export default {
  name: 'App',

  components: {
    Chronometer,
  },

  data: () => ({
    //
  }),
};
</script>
